<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2020全国研究生招生调查报告</title>
    <style>
        body{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        a{
            font-size: 30px;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1 align = "center">2020年全国研究生招生调查报告</h1>
    <br>
    <a href="/predict1">研究生教育70年发展历程>>></a>
    <br>
    <a href="/predict2">考研报名持续高温 考生盲目追求热门>>></a>
    <br>
    <a href="/predict3">研究生招生规模扩大背后专硕受追捧 非全日制收缩>>></a>
    <br>
    <a href="/predict4">“严进严出” 研究生严控质量关>>></a>
    <br>
    <a href="/append">附录 研究生数据调查>>></a>
    <br>
    <a href="/home">点击此处返回首页</a>
</body>
</html>