<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>一、研究生教育70年发展历程</title>
    <style>
        body{
            width: 600px;
            margin: 0 auto;
        }
        a{
            text-decoration: none;
        }
        div{
            width: 100%;
        }
        div img{
            width: 100%;
        }
    </style>
</head>
<body>
    <h1 align = "center">研究生教育70年发展历程</h1>
    <h2>1.1 研究生发展阶段特点</h2><br>
    <p>{{ wds[0]["inst"] }}</p>
    <p>{{ wds[1]["inst"] }}</p>
    <p>{{ wds[2]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu1-1.png"><br>
        <span>数据来源：学位与研究生教育大辞典</span>
    </div>
    <p>{{ wds[3]["inst"] }}</p>
    <p>{{ wds[4]["inst"] }}</p>
    <p>{{ wds[5]["inst"] }}</p>
    <p>{{ wds[6]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu1-2.png"><br>
        <span>数据来源：学位与研究生教育大辞典</span>
    </div>
    <p>{{ wds[7]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu1-3.png"><br>
        <span>数据来源：学位与研究生教育大辞典</span>
    </div>
    <p>{{ wds[8]["inst"] }}</p>
    <p>{{ wds[9]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu1-4.png"><br>
        <span>数据来源：教育部</span>
    </div>
    <p>{{ wds[10]["inst"] }}</p>
    <p>{{ wds[11]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu1-5.png"><br>
        <span>数据来源：教育部</span>
    </div>
    <p>{{ wds[12]["inst"] }}</p>
    <h2>1.2  研究生毕业生总体数量</h2><br>
    <p>{{ wds[13]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu1-6.png"><br>
        <span>数据来源：教育部</span>
    </div>
    <p>{{ wds[14]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu1-7.png"><br>
        <span>数据来源：教育部、学位与研究生教育大辞典</span>
    </div>
    <h2>1.3  各国研究生数量比较</h2><br>
    <p>{{ wds[15]["inst"] }}</p>
    <p>{{ wds[16]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu1-8.jpg"><br>
        <span>数据来源：中国学位与研究生教育发展年度报告；美国博士授予数来源于美国博士调查数据(SED)</span>
    </div>
    <br>
    <a href="/predict">点击此处返回报告首页</a>
</body>
</html>