<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>考研报名持续高温 考生盲目追求热门</title>
    <style>
        body{
            width: 600px;
            margin: 0 auto;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1 align = "center">二、考研报名持续高温 考生盲目追求热门</h1>
    <h2>2.1  全国硕士研究生报名人数持续增长</h2>
    <p>{{ wds[0]["inst"] }}</p>
    <p>{{ wds[1]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-1.png"><br>
        <span>数据来源：教育部</span>
    </div>
    <p>{{ wds[2]["inst"] }}</p>
    <p>{{ wds[3]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-2.png"><br>
        <span>数据来源：辽宁省教育考试院</span>
    </div>
    <p>{{ wds[4]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-3.png"><br>
        <span>数据来源：湖北省教育考试院</span>
    </div>
    <h2>2.2  各省硕士研究生报名人数逐年递增</h2>
    <h3>2.2.1  各省硕士研究生报名人数再次上涨</h3>
    <p>{{ wds[5]["inst"] }}</p>
    <p>{{ wds[6]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-4.png"><br>
        <span>数据来源：北京市教育考试院</span>
    </div>
    <p>{{ wds[7]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-5.png"><br>
        <span>数据来源：辽宁省教育考试院</span>
    </div>
    <h3>2.2.2  硕士研究生考试弃考率居高不下</h3>
    <p>{{ wds[8]["inst"] }}</p>
    <p>{{ wds[9]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-6.png"><br>
        <span>数据来源：广东省教育考试院</span>
    </div>
    <p>{{ wds[10]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-7.png"><br>
        <span>数据来源：辽宁省教育考试院</span>
    </div>
    <p>{{ wds[11]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-8.png"><br>
        <span>数据来源：深圳大学研究生院</span>
    </div>
    <p>{{ wds[12]["inst"] }}</p>
    <h2>2.3  硕士研究生招生规模继续增长</h2>
    <h3>2.3.1  “双一流”院校招生规模继续扩张</h3>
    <p>{{ wds[13]["inst"] }}</p>
    <p>{{ wds[14]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-9.png"><br>
        <span>数据来源：北京理工大学研究生院</span>
    </div>
    <p>{{ wds[15]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-10.png"><br>
        <span>数据来源：东南大学研究生招生网</span>
    </div>
    <h3>2.3.2  各学科硕士研究生招生数量增幅存在明显差异</h3>
    <p>{{ wds[16]["inst"] }}</p>
    <p>{{ wds[17]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-11.png"><br>
        <span>数据来源：教育部</span>
    </div>
    <p>{{ wds[18]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-12.png"><br>
        <span>数据来源：教育部</span>
    </div>
    <p>{{ wds[19]["inst"] }}</p>
    <h2>2.4  推免生数量逐年增高，占比下降</h2>
    <h3>2.4.1  名校接收推免人数逐年攀升 部分高校比例下降</h3>
    <p>{{ wds[20]["inst"] }}</p>
    <p>{{ wds[21]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-13.png"><br>
        <span>数据来源：东南大学研究生招生网</span>
    </div>
    <p>{{ wds[22]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-14.png"><br>
        <span>数据来源：兰州大学研究生院</span>
    </div>
    <p>{{ wds[23]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-15.png"><br>
        <span>数据来源：中国科学技术大学新闻网</span>
    </div>
    <p>{{ wds[24]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-16.png"><br>
        <span>数据来源：各高校研究生招生官网</span>
    </div>
    <p>{{ wds[25]["inst"] }}</p>
    <p>{{ wds[26]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-17.png"><br>
        <span>数据来源：北京大学研究生招生网</span>
    </div>
    <p>{{ wds[27]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-18.png"><br>
        <span>数据来源：暨南大学研究生招生信息网</span>
    </div>
    <p>{{ wds[28]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-19.png"><br>
        <span>数据来源：南京大学研究生院</span>
    </div>
    <h3>2.4.2  “双一流”高校推免生比例远高于非双一流</h3>
    <p>{{ wds[29]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-20.png"><br>
        <span>数据来源：各高校研究生招生官网</span>
    </div>
    <p>{{ wds[30]["inst"] }}</p>
    <h3>2.4.3  推免竞争激烈，名校推免生源多数来自双一流高校</h3>
    <p>{{ wds[31]["inst"] }}</p>
    <p>{{ wds[32]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-21.png"><br>
        <span>数据来源：北京大学研究生招生官网</span>
    </div>
    <p>{{ wds[33]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-22.png"><br>
        <span>数据来源：清华大学研究生招生官网</span>
    </div>
    <p>{{ wds[34]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-23.png"><br>
        <span>数据来源：中国科学院大学研究生招生官网</span>
    </div>
    <p>{{ wds[35]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-24.png"><br>
        <span>数据来源：中国教育在线调查</span>
    </div>
    <p>{{ wds[36]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-25.png"><br>
        <span>数据来源：中国教育在线调查</span>
    </div>
    <h3>2.4.4  推免生质量普遍高于统考生，招生单位更看重能力与知识储备</h3>
    <p>{{ wds[37]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-26.png"><br>
        <span>数据来源：中国教育在线调查</span>
    </div>
    <p>{{ wds[38]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-27.png"><br>
        <span>数据来源：中国教育在线调查</span>
    </div>
    <p>{{ wds[39]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-28.png"><br>
        <span>数据来源：中国教育在线调查</span>
    </div>
    <h2>2.5  提高就业竞争力，为考研主要动机</h2>
    <p>{{ wds[40]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-29.png"><br>
        <span>数据来源：中国教育在线调查</span>
    </div>
    <p>{{ wds[41]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-30.png"><br>
        <span>数据来源：中国教育在线调查</span>
    </div>
    <p>{{ wds[42]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-31.png"><br>
        <span>数据来源：中国教育在线调查</span>
    </div>
    <p>{{ wds[43]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-32.png"><br>
        <span>数据来源：中国教育在线调查</span>
    </div>
    <h2>2.6  研究生报考热度受经济发展因素影响</h2>
    <h3>2.6.1  经济发展与研究生报考热度成一定相关性</h3>
    <p>{{ wds[44]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-33.png"><br>
        <span>数据来源：国家统计局</span>
    </div>
    <p>{{ wds[45]["inst"] }}</p>
    <p>{{ wds[46]["inst"] }}</p>
    <p>{{ wds[47]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-34.png"><br>
        <span>数据来源：教育部</span>
    </div>
    
    <p>{{ wds[48]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-35.png"><br>
        <span>数据来源：教育部</span>
    </div>
    
    <h3>2.6.2  研究生女性占比持续上升 中西部省份比例普遍高于东部</h3>
    <p>{{ wds[49]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-36.png"><br>
        <span>数据来源：教育部</span>
    </div>
    <p>{{ wds[50]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-37.png"><br>
        <span>数据来源：教育部</span>
    </div>
    <p>{{ wds[51]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-38.png"><br>
        <span>数据来源：教育部</span>
    </div>
    <p>{{ wds[52]["inst"] }}</p>
    <p>{{ wds[53]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-39.png"><br>
        <span>数据来源：教育部</span>
    </div>
    <p>{{ wds[54]["inst"] }}</p>
    <p>{{ wds[55]["inst"] }}</p>
    <h2>2.7  考生报考更青睐社科类专业 但就业不及预期</h2>
    <h3>2.7.1  高校专业报考热度差异明显</h3>
    <p>{{ wds[56]["inst"] }}</p>
    <p>{{ wds[57]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-40.png"><br>
        <span>数据来源：湖南大学</span>
    </div>
    <p>{{ wds[58]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-41.png"><br>
        <span>数据来源：暨南大学</span>
    </div>
    <p>{{ wds[59]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-42.png"><br>
        <span>数据来源：苏州大学</span>
    </div>
    <p>{{ wds[60]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-43.png"><br>
        <span>数据来源：南开大学</span>
    </div>
    <p>{{ wds[61]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-44.png"><br>
        <span>数据来源：大连理工大学</span>
    </div>
    <p>{{ wds[62]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-45.png"><br>
        <span>数据来源：中国矿业大学</span>
    </div>
    <p>{{ wds[63]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-46.png"><br>
        <span>数据来源：云南大学</span>
    </div>
    <p>{{ wds[64]["inst"] }}</p>
    <h3>2.7.2  社科类专业分数线上涨幅度高于工科类专业</h3>
    <p>{{ wds[65]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-47.png"><br>
        <span>数据来源：教育部</span>
    </div>
    <p>{{ wds[66]["inst"] }}</p>
    <h3>2.7.3  本科或研究生阶段社科类专业就业率均低于工科类专业</h3>
    <p>{{ wds[67]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-48.png"><br>
        <span>数据来源：重庆大学</span>
    </div>
    <p>{{ wds[68]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-49.png"><br>
        <span>数据来源：四川大学</span>
    </div>
    <p>{{ wds[69]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-50.png"><br>
        <span>数据来源：吉林大学</span>
    </div>
    <p>{{ wds[70]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-51.png"><br>
        <span>数据来源：广西大学</span>
    </div>
    <p>{{ wds[71]["inst"] }}</p>
    <div>
        <img src="/static/imgs/tu2-52.png"><br>
        <span>数据来源：浙江大学</span>
    </div>
    <p>{{ wds[72]["inst"] }}</p>

    <br>
    <a href="/predict">点击此处返回报告首页</a>
</body>
</html>