<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>“严进严出” 研究生严控质量关</title>
    <style>
        body{
            width: 600px;
            margin: 0 auto;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1 align = "center">四、“严进严出” 研究生严控质量关</h1>
    <h2>4.1  考研报录比创历史新高</h2>
    <p>{{ wds[0]["inst"] }}</p>
    <div>
        <img src="/static//imgs/tu4-1.png"><br>
        <span>数据来源：教育部</span>
    </div>
    <p>{{ wds[1]["inst"] }}</p>
    <div>
        <img src="/static//imgs/tu4-2.png"><br>
        <span>数据来源：各高校研究生招生官网</span>
    </div>
    <h2>4.2  研究生实际毕业生数低于预计毕业生数</h2>
    <h3>4.2.1  研究生预计毕业人数与实际毕业人数差距扩大</h3>
    <p>{{ wds[2]["inst"] }}</p>
    <div>
        <img src="/static//imgs/tu4-3.png"><br>
        <span>数据来源：教育部</span>
    </div>
    <p>{{ wds[3]["inst"] }}</p>
    <div>
        <img src="/static//imgs/tu4-4.png"><br>
        <span>数据来源：教育部</span>
    </div>
    <p>{{ wds[4]["inst"] }}</p>
    <div>
        <img src="/static//imgs/tu4-5.png"><br>
        <span>数据来源：教育部</span>
    </div>
    <p>{{ wds[5]["inst"] }}</p>
    <h3>4.2.2  博士研究生延期率逐年上升</h3>
    <p>{{ wds[6]["inst"] }}</p>
    <div>
        <img src="/static//imgs/tu4-6.png"><br>
        <span>数据来源：教育部</span>
    </div>
    <p>{{ wds[7]["inst"] }}</p>
    <div>
        <img src="/static//imgs/tu4-7.png"><br>
        <span>数据来源：教育部</span>
    </div>
    <p>{{ wds[8]["inst"] }}</p>
    <div>
        <img src="/static//imgs/tu4-8.png"><br>
        <span>数据来源：教育部</span>
    </div>
    <p>{{ wds[9]["inst"] }}</p>
    <p>{{ wds[10]["inst"] }}</p>
    <p>{{ wds[11]["inst"] }}</p>
    <h2>4.3  高校加大对不合格研究生清退力度</h2>
    <p>{{ wds[12]["inst"] }}</p>
    <p>{{ wds[13]["inst"] }}</p>
    <p>{{ wds[14]["inst"] }}</p>
    <p>{{ wds[15]["inst"] }}</p>
    <p>{{ wds[16]["inst"] }}</p>
    <p>{{ wds[17]["inst"] }}</p>
    <p>{{ wds[18]["inst"] }}</p>
    <p>{{ wds[19]["inst"] }}</p>
    <p>{{ wds[20]["inst"] }}</p>
    <p>{{ wds[21]["inst"] }}</p>
    <br>
    <a href="/predict">点击此处返回报告首页</a>
</body>
</html>